* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  /*Corps du site*/
  body {
      background:greenyellow;
      height:100vh;
  }
  
  .container{
      height:100vh;
      display:flex;
      align-items:center;
      justify-content: center;
  }

  .container img{
      width: 100%;
      max-width: 700px;
      min-width: 400px;
  }

  .content {
      text-align:center;
      position: relative;
      left: 5px;
      top: -100px;
  }

  .container .content h2{
      font-family: 'Noto Sans JP', sans-serif;
      font-size:1.5em;
      color:white;
      text-transform:uppercase;
      margin-bottom: 1em;
  }

  .container .content a{
      font-family: 'Noto Sans JP', sans-serif;
      color:white;
      background:transparent;
      text-decoration: none;
      border: 1px solid white;
      border-radius:50px;
      padding:0.5em 1em;
      text-transform:uppercase;
      letter-spacing:2px;
  }


 footer {
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
  }
  /*Menu*/

  header{
      margin-top:1.5em;
      display: flex;
      flex-direction: column;
      width:100vw;
      align-items:center;
  }

  header h1{
      font-family: 'Noto Sans JP', sans-serif;
      text-transform: uppercase;
      color:black;
  }

  header  ul{
      display:flex;
      margin-top: 2em;
      justify-content: space-between;
      list-style-type: none ;
      width:70vw;
  }

  nav ul li a{
      font-family: 'Noto Sans JP', sans-serif;
      font-weight: 500;
      font-size: 2em;
      text-decoration: none;
  }


  /*----------------------------------------------*/
  @media(max-width:1000px){
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header h1{
        font-size: 1.5em;       
    }

    nav ul{
        flex-direction:column;
        text-align:center;
    }

    nav ul li{
        padding-bottom: 0.5em;
    }

    h2{
        margin-top: 100px;
    }

  }